#banner{

    width: 100%
}

.principal{
    background: #CCCCCCCC
}

.principal{
    padding: 30px
}

.titulo-principal{
  padding-left: 20px  
}
.titulo-centralizado{
    text-align: center
}

p{
    text-align:center;
}

#missão{
    font-size: 20px
}

em strong{
    color:red
}

.itens{
    font-style: italic
}
.benefícios{
    background: #FFFFFF
    
}

.benefícios{
    padding: 20px
}

.servicos{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios{
    width: 50%
}

.caixa{
    position: relative
}
.caixa{
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute
}

nav{
    top: 15px 
}

nav{
    right: 30px;
}

nav li {
    display: inline
}

nav li {
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #C78C19
}

/* Página de contato */
.contato {
	width: 940px;
	margin: 40px auto;
}

.contato label, .input-group legend {
	display: block;
	margin: 0 0 5px;
	font-size: 20px;
}

.campo-padrao, textarea {
	display: block;
	margin: 0 0 30px;
	padding: 10px 20px;
	width: 50%;
	border: 1px solid #aaa;
}

.input-group {
	margin: 0 0 20px;
}

.newsletter {
	margin: 0 0 20px;
}

.botao {
	margin: 20px 0 0;
	width: 30%;
	padding: 10px 20px;
	font-size: 24px;
	display: inline-block;
	background: orange;
	color: white;
	border: none;
	border-radius: 5px;
	transition: 1s;
}

.botao:hover {
	cursor: pointer;
	transform: scale(1.2);	
}

.funcionamento {
	width: 940px;
	margin: 0 auto 40px;
}

table {
	margin: 10px 0 0;
}

th  {
	background: #777777;
	color: #FFFFFF;
}


td, th {
	border: 1px solid #000000;
	padding: 5px 20px;
}

main {
	width: 940px;
	margin: auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	cursor: pointer;
	transition: 1s all;
	border-radius: 5px;
	border: none;
	font-size: 18px;
	font-weight: bold;
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white
}

.enviar:hover {
	transform: scale(1.2);
	background: darkorange
}

table {
	margin: 20px 0 40px;
}

thead {
	font-weight: bold;
	background: #555555;
	color: white
}

td, th {
	padding: 8px 15px;
	border: 1px solid #000000;
}